<div class="h-screen bg-cover">
  <div class="sm:h-1/2 sm:p-10 bg-opacity-50 bg-black">
    <embed src="../../../../assets/Logos/RJ.svg"/>
  </div>
  <div class="sm:h-1/2 sm:p-5 bg-opacity-50 bg-black">
    <mat-card appearance="outlined" class="bg-gray-200">
      <mat-card-header>
        <mat-card-title>
          <h1 class="font-bold text-center">RJ AUTOMATED SOLUTIONS</h1>
        </mat-card-title>
        <mat-card-subtitle><h4 class="text-center">Subtitle explanation for audience</h4></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent faucibus nibh nisi, nec ullamcorper tellus iaculis a.
          Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
      </mat-card-content>
      <mat-card-footer class="p-5 flex flex-col gap-3 justify-center">
        <button mat-raised-button type="button" color="primary" class="text-base mr-16 ml-16"><mat-icon>phone</mat-icon><mat-icon>mail</mat-icon>Contáctanos</button>
        <button mat-raised-button type="button" color="primary" class="text-base mr-16 ml-16"><mat-icon>construction</mat-icon>Servicios</button>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
