<mat-drawer-container class="w-500 h-300px border-solid border-[rgba(0,0,0,0.54)]" autosize [hasBackdrop]="true">
  <mat-drawer #drawer class=" border-red-700  lg:w-1/6 sm:w-1/2" mode="push">
    <mat-selection-list hideSingleSelectionIndicator="true" [multiple]="false" *ngFor="let option of options">
      <mat-list-option (click)="selectOption(option); drawer.close()" [value]="option" routerLinkActive="activebutton" [routerLink]="option.path">
        {{option.name}}
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>
  <mat-toolbar class="bg-black">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span></span>
    <span class="example-spacer"></span>
  </mat-toolbar>
  <div class="h-fit">
    <router-outlet></router-outlet>
    <footer class="h-fit p-3 bg-gray-700 flex flex-col flex-nowrap justify-center items-center">
      <div class="h-full flex flex-col w-full justify-start gap-8 text-gray-200 p-6">
        <div class="flex flex-row justify-start content-baseline gap-2">
          <mat-icon>phone</mat-icon>
          <p>+1 (787) 439-3748</p>
        </div>
        <div class="flex flex-row justify-start content-baseline gap-2">
          <mat-icon>mail</mat-icon>
          <p>jrios@rjautomated.com</p>
        </div>
        <div class="flex flex-row justify-start content-baseline gap-2">
          <mat-icon>location_on</mat-icon>
          <p>San Juan, Puerto Rico - Aguada, Puerto Rico</p>
        </div>
      </div>
      <div class="h-fit flex flex-row w-full justify-center gap-1 border-t pt-2">
        <p class="text-white pt-5">RJ AUTOMATED SOLUTIONS &#169; 2023</p>
      </div>
    </footer>
  </div>
</mat-drawer-container>
