<div class="flex flex-col h-fit ">
  <div class="h-fit p-10 bg-gray-500 text-gray-200">
    <h1><strong>Contact us</strong></h1>
    <p class="lg:text-lg">We provide services around the country, you can contact us at any of the following:</p>
  </div>
  <div class="flex sm:flex-col justify-around lg:flex-row lg:h-96 lg:mt-28 lg:mb-28" >
    <div class="p-10 m-10 flex flex-col justify-center" *ngFor="let card of cards">
      <mat-icon>{{card.icon}}</mat-icon>
      <h4><strong>{{card.title}}</strong></h4>
      <p>{{card.body}}</p>
    </div>
  </div>
</div>
